@import "../normalize";
@import "../font/_fonts"; //шрифты
@import "../_colors"; //цвета
@import "../_screen"; //размеры
@import "../_mixins"; //миксины

.contacts-wrapper {
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/infobackground.jpg);
}

.triangle-bottomleft {
    border-bottom: 50px solid $light-orange;
    border-right: 100vw solid transparent;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    row-gap: 40px;
    flex-direction: column;
}

.button-contacts-img {
    width: 100px;
}

.button-contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-contacts,
.contacts-title,
.text-projects__title-h4,
.text-projects__title-p,
.text-projects__description {
    @include roboto;
    color: $white;
}

@media screen and (min-width: $big-tablet) {
    .contacts-box {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        padding: 70px 120px;
    }

    .contacts-box__topicon {
        max-width: 100%;
        justify-self: flex-start;
        align-self: flex-end;
        padding-left: 70px;
    }

    .contacts-box__bottomicon {
        max-width: 100%;
        justify-self: flex-end;
        padding-right: 50px;
    }

    .text-contacts {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .text-contacts {
        @include text-font;
    }

    .contacts-title {
        @include title-font;
    }

    .text-projects__title-h4 {
        @include subtitle-font;
    }

    .text-projects__title-p,
    .text-projects__description {
        @include text-font;
    }
}

@media screen and (max-width: #{$big-tablet - 1px}) {

    .contacts-box__topicon,
    .contacts-box__bottomicon {
        display: none;
    }

    .contacts {
        padding: 30px 30px 10px 30px;
    }

    .text-contacts {
        display: grid;
    }

    .text-contacts {
        @include text-font_mob;
    }

    .contacts-title {
        @include title-font_mob;
        justify-self: center;
    }

    .text-projects__title-h4 {
        @include subtitle-font_mob;
    }

    .text-projects__title-p,
    .text-projects__description {
        @include text-font_mob;
    }
}