@import "../normalize";
@import "../font/_fonts"; //шрифты
@import "../_colors"; //цвета
@import "../_screen"; //размеры
@import "../_mixins"; //миксины

.info-wrapper {
    width: 100vw;
    background-color: #000;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/infobackground.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    border-bottom: 30px solid rgb(36, 35, 36);
}

.info__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    row-gap: 40px;
    flex-direction: column;
}

.info__title,
.info__subtitle {
    color: $white;
    @include roboto;
    text-align: center;
}

@media screen and (min-width: $big-tablet) {
    .info {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        align-content: space-around;
        padding: 120px;
    }

    .info__icon1 {
        justify-self: flex-start;
        padding-left: 100px;
    }

    .info__icon2 {
        justify-self: flex-end;
        padding-right: 100px;
    }

    .info__icon-img1,
    .info__icon-img1 {
        max-width: 100%;
    }

    .info__title {
        @include title-font;
    }

    .info__subtitle {
        @include subtitle-font;
    }
}

@media screen and (min-width: 561px) and (max-width: #{$big-tablet - 1px}) {
    .info {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;
        text-align: center;
        padding: 0px 30px 10px 30px;
    }

    .info__title {
        @include title-font_mob;
    }

    .info__subtitle {
        @include subtitle-font_mob;
    }

    .info__icon1 {
        justify-self: center;
    }

    .info__icon2 {
        justify-self: center;
    }

    .info__icon-img1 {
        max-width: 65%;
    }

    .info__icon-img2 {
        max-width: 75%;
    }
}

@media screen and (min-width: 401px) and (max-width: 560px) {
    .info {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;
        text-align: center;
        padding: 0px 30px 10px 30px;
    }

    .info__title {
        @include title-font_mob;
    }

    .info__subtitle {
        @include subtitle-font_mob;
    }

    .info__icon1 {
        justify-self: center;
    }

    .info__icon2 {
        justify-self: center;
    }

    .info__icon-img1 {
        max-width: 65%;
    }

    .info__icon-img2 {
        max-width: 75%;
    }
}


@media screen and (max-width: 400px) {
    .info {
        padding: 30px;
    }

    .info__title {
        @include title-font_mob;
    }

    .info__subtitle {
        @include subtitle-font_mob;
    }

    .info__icon2,
    .info__icon1 {
        display: none;
    }
}